head, body {
    margin: 0;
    padding-top: 15px;
    border: 0;
}
#d1,#d2,#d3{
	background-color: darkgrey;
	border: 1px solid black;
	font-weight: 600;
	font-size: 95%;
	font-family: Arial, Helvetica, sans-serif;
	padding:0px 0px 10px 10px;
	overflow: auto;
}
#p1,#p2,#p3{
	width:100px;
	border: 1px solid black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding:5px 30px 5px 30px;
	text-align: center;
}
#p1{
	background-color: pink;
}
#p2{
	background-color: firebrick;
	color: white;
}
#p3{
	background-color: khaki;
}
@media (max-width: 767px)
{
	#d1,#d2,#d3{
		width: 80%;
	}
	#p1,#p2,#p3{
		margin-left:74%;
	}
	#d1
	{
		margin-left: 50px;
		position: fixed;
		margin: 35px;
		margin-top: 0px;
}
	#d2
	{

		position: fixed;
		margin-top: 200px;
		margin-left: 35px;
		margin-right: 35px;
		margin-bottom: 600px;	
		
	}
	#d3
	{
		position: fixed;
		margin-top: 400px;
		margin-left: 35px;
		margin-right: 35px;
		margin-bottom: 600px;

}	
	
}
@media (max-width: 991px) and (min-width: 768px)
{
	#d1,#d2,#d3{
		width: 40%;
		position: fixed;
	}
	#p1,#p2{
		margin-left:58%;
	}
	#p3
	{
		margin-left:81%;
	}
	#d1
	{
		margin-left: 55px;
}
	#d2
	{
		margin-left: 500px;		
		
	}
	#d3
	{
		width: 90%;
		margin-left: 60px;
		margin-top: 180px;

}	

}
@media (min-width: 992px)
{
	#d1,#d2,#d3{
		width: 28%;
		margin:40px;
		position: fixed;
	}
	#p1,#p2,#p3{
		margin-left:58%;
	}
	#d1
	{
		margin-left: 50px;
		
}
	#d2
	{
		margin-left: 480px;		
		
	}
	#d3
	{
		margin-left: 910px;
}	

}
